[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "allianceauth-discordbot"
authors = [{name = "AaronKable", email = "aaronkable@gmail.com"}]
readme = "README.md"
license = {file = "LICENSE"}
classifiers = ["License :: OSI Approved :: MIT License"]
dynamic = ["version", "description"]
dependencies = [
    "allianceauth>=2.9.0,<4.0.0",
    "py-cord>2.0.0,<3.0.0",
    "pendulum>=2.1.2,<3.0.0",
    "redis>=4.2.0,<5.0.0",
    "django-solo>=2.1.0,<3.0.0"
]

[tool.flit.module]
name = "aadiscordbot"

[project.urls]
Home = "https://github.com/Solar-Helix-Independent-Transport/allianceauth-discordbot"
Source = "https://github.com/Solar-Helix-Independent-Transport/allianceauth-discordbot"
Tracker = "https://github.com/Solar-Helix-Independent-Transport/allianceauth-discordbot/issues"
